.footer {
    margin-top: 180px;
    &__wrapper {
        margin: 0 auto;
        width: 533px;
        text-align: center;
        &-block {
            margin-top: 60px;
            display: flex;
            gap: 30px;
            &-info {
                text-align: right;
                &-men {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    text-transform: uppercase;
                    color: $whitecolor;
                }
                &-name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    text-transform: uppercase;
                    color: $whitecolor;
                }
            }
            &-info2 {
                &-email {
                    text-align: left;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    text-transform: uppercase;
                    color: $whitecolor;
                }
                &-span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    text-transform: uppercase;
                    color: $whitecolor;
                }
            }
        }
        &-links {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                &:hover {
                    path {
                        fill:#868686;
                    }
                }
            }
        }
        &-copyrite {
            margin: 100px 0 20px 0;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            opacity: 0.5;
            color: $whitecolor;
        }
    }
}